<script src="https://ajax.googleapis.com/ajax/libs/jquery/w.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jqueryui.css"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jqueryui.min.js"></script>

<script>

</script>


<body>

<div class = "avatar_info">
	<img class = 'avatar' src = "avata.jpg" />
	
	<div class = "info">
		<p class = "name"> THO TRUONG </p>
		<p class = "sub_info"> Phone: (408) 427 2150</p>
		<p class = "sub_info"> Email: thotruong@berkeley.edu</p>
		<p class = "sub_info"> LinkedIn: <%= image_tag 'github.png', :class => 'logo_icon' %></p>
		<p class = "sub_info"> GitHub: <%= image_tag 'linked.png', :class => 'logo_icon' %></p>


	</div>
</div>
<div class = "objective">
	<h1>SOFTWARE ENGINEER</h1>
	<p class = "notice_action">Actions: Hover & Click
	<p class = "funny">If you don't see anything, it means that I have not updated it yet :)
</div>
<div class = "summary">Summary</div>
<div class = "panel_outer">
	<div class = "panel">

		<div class = "heading_block">
			<div class = "root"></div>
		</div>
		<div class = "heading_block">
			<div class = "tags_text"><p>Tags :</p></div>
		</div>
		<div class = "four_block">
			
			<!-- <div class = "tags" id="work"><p>Work</p></div>
			<div class = "tags" id="company"><p>Company</p></div>
			<div class = "tags" id="project"><p>Project</p></div>
			<div class = "tags" id="link"><p>Link</p></div>
			<div class = "tags" id="code"><p>Code</p></div>
			<div class = "tags" id="study"><p>Study</p></div>
			<div class = "tags" id="school"><p>School</p></div>
			<div class = "tags" id="volunteer"><p>Volunteer</p></div>
			<div class = "tags" id="self"><p>Self-Study</p></div> -->
			
		</div>
		
		
		
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>

		<div class = "body_block">
			<div class = "time_root"><p>2004-2005</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "left_node" id="work"><p>Work</p></div>
				<div class = "right_node" id="company"><p>HTV</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>

		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
<!-- upper child branch -->
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>

		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
<!-- ------------ -->
		<div class = "body_block"></div>

		<div class = "body_block">
			<div class = "time_root"><p>2005-2007</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "left_node" id="work"><p>Work</p></div>
				<div class = "right_node" id="company"><p>Arch Vis</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>

		
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>2007-2009</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "left_node" id="work"><p>Work</p></div>
				<div class = "right_node" id="company"><p>MMC</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>2010-2013</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "left_node" id="study"><p>Study</p></div>
				<div class = "right_node" id="school"><p>Mission College</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left" id="volunteer"><p>Volunteer</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>2013</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "left_node" id="study"><p>Study</p></div>
				<div class = "right_node" id="school"><p>UC Berkeley</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
<!-- child bottom branch -->
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
<!--  -->
<!-- child top branch -->
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>
	<!--  -->
		<div class = "body_block">
			<div class = "time_root"><p>2014</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "left_node" id="study"><p>Study</p></div>
				<div class = "right_node" id="school"><p>UC Berkeley</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="mid"></div>
			<div class = "vertical_child" id="mid"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="mid"></div>
			<div class = "vertical_child" id="mid"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
<!-- child mid branch -->
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="mid"></div>
			<div class = "vertical_child" id="mid"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
<!--  -->
<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>




		<div class = "body_block">
			<div class = "time_root"><p>2015</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "left_node" id="study"><p>Study</p></div>
				<div class = "right_node" id="school"><p>UC Berkeley</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>

		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>FlickrAPI</p></div>
				<div class = "node_child_mid"><p>Link</p></div>
				<div class = "node_child_right"><p>Code</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root_bottom" id="1"></div>
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_root_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "left_node" id="study"><p>Study</p></div>
				<div class = "right_node" id="self"><p>Web-BackEnd</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
			<div class = "vertical_child" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Porfolio</p></div>
				<div class = "node_child_mid"><p>Link</p></div>
				<div class = "node_child_right"><p>Code</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Free&Sale</p></div>
				<div class = "node_child_mid"><p>Link</p></div>
				<div class = "node_child_right"><p>Code</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>Continue...</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>

		
	</div>
</div>

</body>
		



















		<!-- <div class = "tree">
			<div class = "root">
			</div>
			<div class = "vertical_root" id="1"></div>
			<div class = "dot_root" id="1">
				<div class = "horizon_root" id="1"></div>
				<div class = "dot_branch" id="1"></div>
			</div>
			<div class = "vertical_root" id="2"></div>
		</div> -->



