<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


<!-- <script src="//code.jquery.com/jquery-2.1.4.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" rel="stylesheet"> -->


<body class = "body">
<div class = "avatar_info_objective">
<div class = "avatar_info">
	<img class = 'avatar' src = "avata.jpg" />
	
	<div class = "info">
		<p class = "name"> THO TRUONG </p>
		<p class = "sub_info"> Phone: (408) 427-2150</p>
		<p class = "sub_info"> Email: thotruong@berkeley.edu</p>
		<p class = "sub_info"> LinkedIn: <%= link_to (image_tag 'linked.png', :class => 'logo_icon'),'https://www.linkedin.com/pub/tho-truong/94/278/7', :target => '_blank' %></p>
		<p class = "sub_info"> GitHub: <%= link_to (image_tag 'github.png', :class => 'logo_icon'), 'https://github.com/thovn', :target => '_blank' %></p>


	</div>
</div>
<div class = "objective">
	<p>SOFTWARE ENGINEER</p>
	<!-- <p class = "notice_action">Actions: Hover & Click</p> -->
	
</div>
</div>
<div class = "divider"></div>



<div class = "summary">
	<p>Summary</p>
	<div class = "inbox">
		<table class = "summary_table">
			<tr>
				<th>Education:</th>
				<td>
					<p>- B.S Degree in Electrical Engineer & Computer Science(EECS) at U.C Berkeley.
					<p>- Maths & Physics at Mission College, Santa Clara.
					<p>- Web Developer at Aptech (a branch of India Computer Science in Vietnam), Sai Gon, Vietnam.
					<p>- Electrical Engineer at University of Polytechnic, Sai Gon, Vietnam
				</td>
			</tr>
		</table>
		<table class = "summary_table">
			<tr>
				<th>Honors & Awards:</th>
				<td>
					<p>- U.C Berkeley Scholarship for undergraduate students. (2013)
					<p>- 2nd Place in 4th Annual MCCP Math Challenge - Regional Competition.(2013)
					<p>- 1st Place in 4th Annual MCCP Math Challenge - Individual Competition.(2013)
					<p>- Ileana Lorie Mathematics Scholarship(2012)
					<p>- Lenore & Curtis Mills Endowment Scholarship(2012)
				</td>
			</tr>
		</table>
		<table class = "summary_table">
			<tr>
				<th>Skills:</th>
				<td>Java, Python, C, Data Structure, Algorithms, Machine Learning, Ruby on Rails, HTML, CSS, SQL, MySQL, JavaScript, JQuery, AJAX, JSON, Desgin, 3D Modeling, Photoshop, CorelDraw, 3DS Max, Vray, AutoCAD</td>
			</tr>
		</table>
		<table class = "summary_table">
			<tr>
				<th>Experience:</th>
				<td>
					<p>- Customer Service: HTV  
					<p>- Architecture Visualization: Worked at 3 companies.
					<p>- Researcher, Developer, Teacher: MMC.
					<p>- Web Developer: Armado Fox (Software Engineering professor at UC Berkeley)
				</td>
			</tr>
		</table>
		<table class = "summary_table">
			<tr>
				<th>Projects:</th>
				<td>
					<p>- Portfolio.
					<p>- FlickrAPI.
					<p>- Pacman with AI & Learning.
					<p>- Redeemify.
					<p>- OCR(Optical Character Regconition).
					<p>- Processor Design.
					<p>- LIFC Compiler.
					<p>- Network Game.
					<p>- Image Blurring and Edge Detection.
					<p>- Electroencephalogram (EEG).
					<p>- Efficient graph.
					<p>- Hog Game.
					<p>- Scheme Intepreter.
					<p>- Ants vs Bees.
				</td>
			</tr>
		</table>
		
		
	
	</div>
</div>
<div class = "panel_outer">
	<div class = "panel">

		<div class = "heading_block">
			<div class = "root"></div>
		</div>
		<div class = "heading_block">

			<!-- <div class = "tags_text"><p>Tags :</p></div> -->
		</div>
		<div class = "four_block">
			<p class = "maxim">Projects we have completed demonstrate what we know. Future projects decide what we will learn.</p>
			<p class = "maxim_author">--- Dr. Mohsin Tiwana ---</p>
			<!-- <div class = "tags" id="work"><p>Work</p></div>
			<div class = "tags" id="company"><p>Company</p></div>
			<div class = "tags" id="project"><p>Project</p></div>
			<div class = "tags" id="link"><p>Link</p></div>
			<div class = "tags" id="code"><p>Code</p></div>
			<div class = "tags" id="study"><p>Study</p></div>
			<div class = "tags" id="school"><p>School</p></div>
			<div class = "tags" id="volunteer"><p>Volunteer</p></div>
			<div class = "tags" id="self"><p>Self-Study</p></div> -->
			
		</div>
		
		
		
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>

		<div class = "body_block">
			<div class = "time_root"><p>2004-2005</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "dot_root" id="1"></div>
			<!-- <div class = "vertical_root" id="1"></div> -->
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_work" id="work1"><p>Work</p></div>
				<a href = "http://www.htv.com.vn/" target = "_blank"><div class = "button_main_right_company" id="company1"><p>HTV</p></div></a>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>

		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
<!-- upper child branch -->
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>

		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
<!-- ------------ -->
		<div class = "body_block"></div>

		<div class = "body_block">
			<div class = "time_root"><p>2005-2007</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "dot_root" id="1"></div>
			<!-- <div class = "vertical_root" id="1"></div> -->
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_work" id="work2"><p>Work</p></div>
				<div class = "button_main_right_company" id="company2"><p>Arch Vis</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>

		
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>2007-2009</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
		<!-- 	<div class = "vertical_root" id="1"></div> -->
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_work" id="work3"><p>Work</p></div>
				<div class = "button_main_right_company" id="company3"><p>MMC</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>2010-2013</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<!-- <div class = "vertical_root" id="1"></div> -->
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_study" id="study1"><p>Study</p></div>
				<div class = "button_main_right_school" id="school1"><p>Mission College</p></div>
			</div>
		</div>
		<div class = "body_block">
		<!-- 	<div class = "vertical_child" id="1"></div> -->
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left" id="volunteer"><p>Volunteer</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>2013</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<!-- <div class = "vertical_root" id="1"></div> -->
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_study" id="study2"><p>Study</p></div>
				<div class = "button_main_right_school" id="school2"><p>UC Berkeley</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
<!-- child bottom branch -->
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
<!--  -->
<!-- child top branch -->
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>
	<!--  -->
		<div class = "body_block">
			<div class = "time_root"><p>2014</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
		<!-- 	<div class = "vertical_root" id="1"></div> -->
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_study" id="study3"><p>Study</p></div>
				<div class = "button_main_right_school" id="school3"><p>UC Berkeley</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="mid"></div>
			<div class = "vertical_child" id="mid"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="mid"></div>
			<div class = "vertical_child" id="mid"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
<!-- child mid branch -->
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="mid"></div>
			<div class = "vertical_child" id="mid"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
<!--  -->
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>




		<div class = "body_block">
			<div class = "time_root"><p>2015</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_study" id="study4"><p>Study</p></div>
				<div class = "button_main_right_school" id="school4"><p>UC Berkeley</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Project</p></div>
				<div class = "node_child_mid"><p>Mid</p></div>
				<div class = "node_child_right"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>

		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>FlickrAPI</p></div>
				<div class = "node_child_mid"><p>Link</p></div>
				<div class = "node_child_right"><p>Code</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root_bottom" id="1"></div>
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_root_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_study" id="study5"><p>Study</p></div>
				<div class = "button_main_right_self" id="self1"><p>Web-BackEnd</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
			<div class = "vertical_child" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Porfolio</p></div>
				<div class = "node_child_mid"><p>Link</p></div>
				<div class = "node_child_right"><p>Code</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "node_child_left"><p>Free&Sale</p></div>
				<div class = "node_child_mid"><p>Link</p></div>
				<div class = "node_child_right"><p>Code</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>Continue...</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<!-- <div class = "footer"><p>COPYRIGHT © 2015 THO TRUONG </p></div> -->
		
		
		
	</div>
</div>

<div class = "footer"><p>Copyright © 2015 Tho Truong </p></div>
</body>



<script>

$(function(){
	$('[class^="button"]').each(function(){
		var target = $(this);
		var class_name = $(this).attr("class");
		var id_num = $(this).attr("id");
		var key_search = '[class$="'+id_num+'"]';

		var box = $(key_search).dialog({
			autoOpen:false,
			width:'auto',
			height:'auto',
			minHeight: 20,
			draggable: false,	
			position:{
			    my: "center top+30",
			    of: target,
			}
		});
		$(this).hover(function(){
			box.dialog("open");
		},function(){
			box.dialog("close");
		});


	});
});

</script>
<div class = "tree"></div>
<div class = "information_fill">

	<table class = "info_main_left_work1" >
		<tr>
			<th>Position: </th>
			<td>Customer Service.</td>
		</tr>
		<tr>
			<th>Tasks: </th>
			<td>Received calls from customers, presented sales services, managed payment plan data.</td>
		</tr>
	</table>
	<table class = "info_main_left_work2" >
		<tr>
			<th>Position: </th>
			<td>Designer, modeler, technician.</td>
		</tr>
		<tr>
			<th>Tools:</th>
			<td>3DSMax, Vray, Photoshop, AutoCAD, Corel.</td>
		</tr>
		<tr>
			<th>Tasks: </th>
			<td>Used 3DSMax and Vray to create buildings, environment, material for architecture visualization. Helped architect to create visual structure from their blueprints so that customers could know how their houses, companies...look like after built.</td>
		</tr>
	</table>

	<table class = "info_main_left_work3" >
		<tr>
			<th>Position: </th>
			<td>Research & Developer, Teaching, Startup small business, Designer.</td>
		</tr>
		<tr>
			<th>Tools:</th>
			<td>3DSMax, Vray, Animation, Photoshop, After Effect, Boujou, Avid Liquid, Lightwave, TriCaster.</td>
		</tr>
		<tr>
			<th>Tasks: </th>
			<td>Built a startup bussiness in advertisement by creating animation, modeling products; objects, transitions for wedding video, game shows; visual effect for movie; studied Tricaster, Lightwave and taught engineers of television stations (BRT, TRT).</td>
		</tr>
	</table>

	<table class = "info_main_left_study1" >
		<tr>
			<th>School: </th>
			<td>Mission College, Santa Clara.</td>
		</tr>
		<tr>
			<th>Studied:</th>
			<td>Maths & Physics.</td>
		</tr>
		<tr>
			<th>Activities: </th>
			<td>Volunteered for Health Career Service, Sunday Friends. Member of MESA.</td>
		</tr>
	</table>	
		
	
	
	<div class = "info_main_left_study2" >
		<p>Information 13
		<p>Information 14
		<p>Information 15
	</div>
	<div class = "info_main_left_study3" >
		<p>Information 16
		<p>Information 17
		<p>Information 18
	</div>
	<div class = "info_main_left_study4" >
		<p>Information 19
		<p>Information 20
		<p>Information 21
	</div>
	<div class = "info_main_left_study5" >
		<p>Information 22
		<p>Information 23
		<p>Information 24
	</div>

	<table class = "info_main_right_company1" >
		<tr>
			<th>Introduction: </th>
			<td>HTV is one of the biggest television station in Vietnam. It supplies services with free channels via broadcasting and paid via cable.</td>
		</tr>
		<tr>
			<td colspan="2" style = "color:grey" align="center">Click to go to company website</td>
		</tr>
		
	</table>

	<table class = "info_main_right_company2" >
		<tr>
			<th>Introduction: </th>
			<td>Worked at 3 startup companies. They didn't have websites, so I can't refer them.</td>
		</tr>
		
		
	</table>
	
	
	<div class = "info_main_right_company3" >
		<p>Information 27
	</div>
	<div class = "info_main_right_school1" >
		<p>Information 28
	</div>
	<div class = "info_main_right_school2" >
		<p>Information 29
	</div>
	<div class = "info_main_right_school3" >
		<p>Information 30
	</div>
	<div class = "info_main_right_school4" >
		<p>Information 31
	</div>
	<div class = "info_main_right_school5" >
		<p>Information 32
	</div>
	<div class = "info_main_right_self1" >
		<p>Information 33
	</div>

</div>












		<!-- <div class = "tree">
			<div class = "root">
			</div>
			<div class = "vertical_root" id="1"></div>
			<div class = "dot_root" id="1">
				<div class = "horizon_root" id="1"></div>
				<div class = "dot_branch" id="1"></div>
			</div>
			<div class = "vertical_root" id="2"></div>
		</div> -->



