<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


<!-- <script src="//code.jquery.com/jquery-2.1.4.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css" rel="stylesheet"> -->


<body class = "body">
<div class = "avatar_info_objective">
<div class = "avatar_info">
	<img class = 'avatar' src = "avatar.jpg" />
	
	<div class = "info">
		<p class = "name"> THO TRUONG </p>
		<p class = "sub_info"> Phone: (408) 427-2150</p>
		<p class = "sub_info"> Email: thotruong@berkeley.edu</p>
		<p class = "sub_info"> LinkedIn: <%= link_to (image_tag 'linked.png', :class => 'logo_icon'),'https://www.linkedin.com/pub/tho-truong/94/278/7', :target => '_blank' %></p>
		<p class = "sub_info"> GitHub: <%= link_to (image_tag 'github.png', :class => 'logo_icon'), 'https://github.com/thovn', :target => '_blank' %></p>


	</div>
</div>
<div class = "objective">
	<p>SOFTWARE ENGINEER</p>
	<!-- <p class = "notice_action">Actions: Hover & Click</p> -->
	
</div>
</div>
<div class = "divider"></div>



<div class = "summary">
	<p>Summary</p>
	<div class = "inbox">
		<table class = "summary_table">
			<tr>
				<th>Education:</th>
				<td>
					<p>- B.S Degree in Electrical Engineer & Computer Science(EECS) at U.C Berkeley.
					<p>- Maths & Physics at Mission College, Santa Clara.
					<p>- Web Developer at Aptech (a branch of India Computer Science in Vietnam), Sai Gon, Vietnam.
					<p>- Electrical Engineer at University of Polytechnic, Sai Gon, Vietnam
				</td>
			</tr>
		</table>
		<table class = "summary_table">
			<tr>
				<th>Honors & Awards:</th>
				<td>
					<p>- U.C Berkeley Scholarship for undergraduate students. (2013)
					<p>- 2nd Place in 4th Annual MCCP Math Challenge - Regional Competition.(2013)
					<p>- 1st Place in 4th Annual MCCP Math Challenge - Individual Competition.(2013)
					<p>- Ileana Lorie Mathematics Scholarship(2012)
					<p>- Lenore & Curtis Mills Endowment Scholarship(2012)
				</td>
			</tr>
		</table>
		<table class = "summary_table">
			<tr>
				<th>Skills:</th>
				<td>
					<p>Java, Python, C, Data Structure, Algorithms, Machine Learning, Ruby on Rails, HTML, CSS, SQL, MySQL, JavaScript, JQuery, AJAX, JSON, Desgin, 3D Modeling, Photoshop, CorelDraw, 3DS Max, Vray, AutoCAD
				</td>
			</tr>
		</table>
		<table class = "summary_table">
			<tr>
				<th>Experience:</th>
				<td>
					<p>- Customer Service: HTV  
					<p>- Architecture Visualization: Worked at 3 companies.
					<p>- Researcher, Developer, Teacher: MMC.
					<p>- Web Developer: Armado Fox (Software Engineering professor at UC Berkeley)
				</td>
			</tr>
		</table>
		<table class = "summary_table">
			<tr>
				<th>Projects:</th>
				<td>
					<p><b>- TeachMe.</b></p>
					<p>  (Python, Django, AJAX, MapReduce, AWS S3; studying: computer vision)</p>
					<p><b>- Free & Sale. </b></p>
					<p>  (under construction; Ruby on Rails, AWS S3, MySQL, HTML, JQuery, AJAX...).</p>
					<p><b>- EasyPortfolio.</b> 
					<p>(Ruby on Rails, HTML, CSS, JQuery...under construction).
					<p><b>- Portfolio. </b>
					<p>(Ruby on Rails, HTML, CSS, JQuery...under construction).
					<p><b>- FlickrAPI.</b>
					<p>(Ruby on Rails, JQuery, AJAX).
					<p><b>- Pacman with AI & Learning.</b>
					<p>(Python)
					<p><b>- Redeemify.</b>
					<p>(Ruby on Rails, HTML, CSS, JavaScript, Cucumber, RSpec, Sinatra, Capybara, Travis CI...).
					<p><b>- OCR(Optical Character Regconition).</b>
					<p>(Python)
					<p><b>- Processor Design.</b>(Assembly)
					<p><b>- LIFC Compiler.</b>(C)
					<p><b>- Network Game.</b>(Java)
					<p><b>- Image Blurring and Edge Detection.</b>(Java)
					<p><b>- Electroencephalogram (EEG).</b>(Multisim, PCB)
					<p><b>- Efficient graph.</b>(Java)
					<p><b>- Hog Game.</b>(Python)
					<p><b>- Scheme Intepreter.</b>(Python)
					<p><b>- Ants vs Bees.</b>(Python)
					<p><b>- Virtual Station.</b>(LightWave, Tricaster)
					<p><b>- Advertisement.</b>(3dsMax, Vray, AfterEffect)
					<p><b>- Wedding.</b>(3dsMax, Vray, AfterEffect)
					<p><b>- Interiors.</b>(3dsMax, Vray, AutoCAD)
					<p><b>- Exteriors.</b>(3dsMax, Vray, AutoCAD)
					<p><b>- Objects.</b>(3dsMax, Vray)
					<p><b>- Flower Market</b>(Java, ASP, SQL)

				</td>
			</tr>
		</table>
		
		
	
	</div>
</div>
<div class = "panel_outer">
	<div class = "panel">

		<div class = "heading_block">
			<div class = "root"></div>
		</div>
		<div class = "heading_block">

			<!-- <div class = "tags_text"><p>Tags :</p></div> -->
		</div>
		<div class = "four_block">
			<p class = "maxim">Projects we have completed demonstrate what we know. Future projects decide what we will learn.</p>
			<p class = "maxim_author">--- Dr. Mohsin Tiwana ---</p>
			<!-- <div class = "tags" id="work"><p>Work</p></div>
			<div class = "tags" id="company"><p>Company</p></div>
			<div class = "tags" id="project"><p>Project</p></div>
			<div class = "tags" id="link"><p>Link</p></div>
			<div class = "tags" id="code"><p>Code</p></div>
			<div class = "tags" id="study"><p>Study</p></div>
			<div class = "tags" id="school"><p>School</p></div>
			<div class = "tags" id="volunteer"><p>Volunteer</p></div>
			<div class = "tags" id="self"><p>Self-Study</p></div> -->
			
		</div>
		
		
		
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>

		<div class = "body_block">
			<div class = "time_root"><p>2004-2005</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "dot_root" id="1"></div>
			<!-- <div class = "vertical_root" id="1"></div> -->
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_work" id="work1"><p>Work</p></div>
				<a href = "http://www.htv.com.vn/" target = "_blank"><div class = "button_main_right_company" id="company1"><p>HTV</p></div></a>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>

		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
<!-- upper child branch -->
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>

		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Interior</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Examples</p></div>
				<div class = "button_child_right" id = "right1"><p>Links</p></div>
			</div>
		</div>
<!-- ------------ -->
		<div class = "body_block"></div>

		<div class = "body_block">
			<div class = "time_root"><p>2005-2007</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "dot_root" id="1"></div>
			<!-- <div class = "vertical_root" id="1"></div> -->
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_work" id="work2"><p>Work</p></div>
				<div class = "button_main_right_company" id="company2"><p>Arch Vis</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj2"><p>Exterior</p></div>
				<div class = "button_child_mid" id = "mid2"><p>Examples</p></div>
				<div class = "button_child_right" id = "right2"><p>Links</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj3"><p>Object</p></div>
				<div class = "button_child_mid" id = "mid3"><p>Examples</p></div>
				<div class = "button_child_right" id = "right3"><p>Links</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj4"><p>Teaching</p></div>
				<div class = "button_child_mid" id = "mid4"><p>Examples</p></div>
				<div class = "button_child_right" id = "right4"><p>Links</p></div>
			</div>
		</div>

		
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>2007-2009</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
		<!-- 	<div class = "vertical_root" id="1"></div> -->
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_work" id="work3"><p>Work</p></div>
				<a href = "http://www.mmc-video.com" target = "_blank"><div class = "button_main_right_company" id="company3"><p>MMC</p></div></a>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj5"><p>Ex-Interior</p></div>
				<div class = "button_child_mid" id = "mid5"><p>Examples</p></div>
				<div class = "button_child_right" id = "right5"><p>Links</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj6"><p>Object</p></div>
				<div class = "button_child_mid" id = "mid6"><p>Examples</p></div>
				<div class = "button_child_right" id = "right6"><p>Links</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>2010-2013</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<!-- <div class = "vertical_root" id="1"></div> -->
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_study" id="study1"><p>Study</p></div>
				
				<a href = "http://www.missioncollege.org/" target = "_blank"><div class = "button_main_right_school" id="school1"><p>Mission College</p></div></a>
			</div>
		</div>
		<div class = "body_block">
		<!-- 	<div class = "vertical_child" id="1"></div> -->
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj7"><p>Volunteer</p></div>
				<div class = "button_child_mid" id = "mid7"><p>Examples</p></div>
				<a href = "http://www.sundayfriends.org/index.html/" target = "_blank"><div class = "button_child_right" id = "right7"><p>Link</p></div></a>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>2013</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<!-- <div class = "vertical_root" id="1"></div> -->
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_study" id="study2"><p>Study</p></div>
				
				<a href = "http://www.berkeley.edu" target = "_blank"><div class = "button_main_right_school" id="school2"><p>UC Berkeley</p></div></a>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
<!-- child bottom branch -->
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
<!--  -->
<!-- child top branch -->
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>
	<!--  -->
		<div class = "body_block">
			<div class = "time_root"><p>2014</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
		<!-- 	<div class = "vertical_root" id="1"></div> -->
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_study" id="study3"><p>Study</p></div>
				<div class = "button_main_right_school" id="school3"><p>UC Berkeley</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="mid"></div>
			<div class = "vertical_child" id="mid"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="mid"></div>
			<div class = "vertical_child" id="mid"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
<!-- child mid branch -->
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="mid"></div>
			<div class = "vertical_child" id="mid"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>
<!--  -->
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>

		<div class = "body_block"></div>




		<div class = "body_block">
			<div class = "time_root"><p>2015</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_study" id="study4"><p>Study</p></div>
				<div class = "button_main_right_school" id="school4"><p>UC Berkeley</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "vertical_child" id="1"></div>
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Project</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Mid</p></div>
				<div class = "button_child_right" id = "right1"><p>Right</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_top" id="1"></div>
		</div>

		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1" id="proj1"><p>FlickrAPI</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Link</p></div>
				<div class = "button_child_right" id = "right1"><p>Code</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block">
			<div class = "vertical_root_bottom" id="1"></div>
			<div class = "dot_root" id="1"></div>
			<div class = "horizon_root_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "horizon_connect" id="1"></div>
			<div class = "big_node_background">
				<div class = "button_main_left_study" id="study5"><p>Study</p></div>
				<div class = "button_main_right_self" id="self1"><p>Web-BackEnd</p></div>
			</div>
		</div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch" id="1"></div>
			<div class = "vertical_child" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Porfolio</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Link</p></div>
				<div class = "button_child_right" id = "right1"><p>Code</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "vertical_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "dot_child" id="1"></div>
			<div class = "horizon_branch_child" id="1"></div>
			<div class = "vertical_child_bottom" id="1"></div>
		</div>
		<div class = "big_block">
			<div class = "child_node">
				<div class = "button_child_left_proj" id="proj1"><p>Free&Sale</p></div>
				<div class = "button_child_mid" id = "mid1"><p>Link</p></div>
				<div class = "button_child_right" id = "right1"><p>Code</p></div>
			</div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block">
			<div class = "time_root"><p>...</p></div>
			<div class = "dot_root" id="1"></div>
			<div class = "vertical_root" id="1"></div>
			<div class = "horizon_root" id="1"></div>
		</div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<div class = "body_block"></div>
		<!-- <div class = "footer"><p>COPYRIGHT © 2015 THO TRUONG </p></div> -->
		
		
		
	</div>
</div>

<div class = "footer"><p>Copyright © 2015 Tho Truong </p></div>
</body>



<script>

$(function(){
	$('[class^="button_main_"]').each(function(){
		var target = $(this);
		var class_name = $(this).attr("class");
		var id_num = $(this).attr("id");
		var key_search = '[class$="'+id_num+'"]';

		var box = $(key_search).dialog({
			autoOpen:false,
			width:'auto',
			height:'auto',
			minHeight: 20,
			draggable: false,	
			position:{
			    my: "center top+30",
			    of: target,
			}
		});
		$(this).hover(function(){
			box.dialog("open");
		},function(){
			box.dialog("close");
		});


	});

	$('[class^="button_child_left"]').each(function(){
		var target = $(this);
		var class_name = $(this).attr("class");
		var id_num = $(this).attr("id");
		var key_search = '[class$="'+id_num+'"]';

		var box = $(key_search).dialog({
			autoOpen:false,
			width:'auto',
			height:'auto',
			minHeight: 20,
			draggable: false,	
			position:{
			    my: "center top+30",
			    of: target,
			}
		});
		$(this).hover(function(){
			box.dialog("open");
		},function(){
			box.dialog("close");
		});


	});

	$('[class^="button_child_mid"]').each(function(){
		var target = $(this);
		var class_name = $(this).attr("class");
		var id_num = $(this).attr("id");
		var key_search = '[class$="'+id_num+'"]';

		var box = $(key_search).dialog({
			autoOpen:false,
			width:850,
			height:600,
			minHeight: 20,
			draggable: false,	
			position: {my:"left top", at:"left+20 top+20", of : window},	
		});
		$(this).hover(function(){
			box.dialog("open");
		},function(){
			box.dialog("close");
		});


	});
});

</script>
<div class = "tree"></div>
<div class = "information_fill">

	<table class = "info_main_left_work1" >
		<tr>
			<th>Position: </th>
			<td>Customer Service.</td>
		</tr>
		<tr>
			<th>Tasks: </th>
			<td>Received calls from customers, presented sales services, managed payment plan data.</td>
		</tr>
	</table>
	<table class = "info_main_left_work2" >
		<tr>
			<th>Position: </th>
			<td>Designer, 3D Modeler, Technician.</td>
		</tr>
		<tr>
			<th>Tools:</th>
			<td>3DSMax, Vray, Photoshop, AutoCAD, Corel.</td>
		</tr>
		<tr>
			<th>Tasks: </th>
			<td>Used 3DSMax and Vray to create buildings, environment, material for architecture visualization. Helped architect to create visual structure from their blueprints so that customers could know how their houses, companies...look like after built.</td>
		</tr>
	</table>

	<table class = "info_main_left_work3" >
		<tr>
			<th>Position: </th>
			<td>Research & Developer, Teaching, Startup small business, Designer.</td>
		</tr>
		<tr>
			<th>Tools:</th>
			<td>3DSMax, Vray, Animation, Photoshop, After Effect, Boujou, Avid Liquid, Lightwave, TriCaster.</td>
		</tr>
		<tr>
			<th>Tasks: </th>
			<td>Built a startup bussiness in advertisement by creating animation, modeling products; objects, transitions for wedding video, game shows; visual effect for movie; studied Tricaster, Lightwave and taught engineers of television stations (BRT, TRT).</td>
		</tr>
	</table>

	<table class = "info_main_left_study1" >
		<tr>
			<th>School: </th>
			<td>Mission College, Santa Clara.</td>
		</tr>
		<tr>
			<th>Studied:</th>
			<td>Maths & Physics.</td>
		</tr>
		<tr>
			<th>Activities: </th>
			<td>
				<p>Volunteered for Health Career Service, Sunday Friends. 
				<p>Member of MESA.
				<p>Joined some math competitions.
			</td>
		</tr>
		<tr>
			<th>Honors & Awards: </th>
			<td>
				<p>Received 7 scholarships. 
				<p>1st Place in 4th Annual MCCP Math Challenge - Individual Competition.
				<p>2nd Place in 4th Annual MCCP Math Challenge - Regional Competition.
			</td>
		</tr>
	</table>	
		
	
	
	<table class = "info_main_left_study2" >
		<tr>
			<th>School: </th>
			<td>UC Berkeley, Berkeley.</td>
		</tr>
		<tr>
			<th>Studied:</th>
			<td>Electrical Engineer & Computer Science (EECS).</td>
		</tr>
		<tr>
			<th>Activities: </th>
			<td>Joined Recursion Art Challenge. This challenge used python & turtle to create art image by animating recursive lines of drawing</td>
		</tr>
		<tr>
			<th>Honors & Awards: </th>
			<td>Received U.C Berkeley Scholarship for undergraduate students (one of 2000 students among 37.000 students received this scholarship each year).
			</td>
		</tr>
	</table>	
	<div class = "info_main_left_study3" >
		<p>- Data Structure
		<p>- Algorithms
		<p>- Artificial Intelligent
	</div>
	<div class = "info_main_left_study4" >
		<p>- Security
		<p>- Web Developer: Ruby on Rails, Capybara, Sinatra, RSpec, Travis CI, JavaScript, AJAX.
		<p>- Agile Methodology
	</div>
	<div class = "info_main_left_study5" >
		<p>Review full stack web development by doing projects.
	</div>

	<table class = "info_main_right_company1" >
		<tr>
			<th>Introduction: </th>
			<td>HTV is one of the biggest television station in Vietnam. It supplies services with free channels via broadcasting and paid via cable.</td>
		</tr>
		<tr>
			<td colspan="2" style = "color:grey" align="center">Click to go to company website</td>
		</tr>
		
	</table>

	<table class = "info_main_right_company2" >
		<tr>
			<th>Introduction: </th>
			<td>Worked at 3 startup companies. They didn't have websites, so I can't refer them.</td>
		</tr>
		
		
	</table>
	
	
	<table class = "info_main_right_company3" >
		<tr>
			<th>Introduction: </th>
			<td>
				<p>- MMC supplies professional cameras for film-producers; components for broadcast, television stations, video editing, studios
				<p>- MMC has hundreds of partners such as Panasonic, Avid, NewTek, ScanDisk, Miller, Tamura, Fujinon, Shuttle, DataVideo, Azden...
			</td>
		</tr>
		<tr>
			<td colspan="2" style = "color:grey" align="center">Click to go to company website</td>
		</tr>
		
	</table>
	<table class = "info_main_right_school1" >
		<tr>
			<th>Introduction: </th>
			<td>"Mission College is a public community college located in the City of Santa Clara, and in the heart of the Silicon Valley. We offer a future of transfer to a four year institution, a future in a career of your choice, a future of increasing skills for both higher education and the workforce and a future for an Associate’s Degree or Certificate that can get you on your way to any goal."</td>
		</tr>
		<tr>
			<td colspan="2" style = "color:grey" align="center">Click to go to school website</td>
		</tr>
	</table>
	<table class = "info_main_right_school2" >
		<tr>
			<th>Introduction: </th>
			<td>U.C. Berkeley is the best national public college.
			</td>
		</tr>
		<tr>
			<td colspan="2" style = "color:grey" align="center">Click to go to school website</td>
		</tr>
	</table>
	<div class = "info_main_right_school3" >
		<p>Upper Division Courses
	</div>
	<div class = "info_main_right_school4" >
		<p>Upper Division Courses
	</div>
	
	<div class = "info_main_right_self1" >
		<p>Did some projects with back-end tools: Ruby on Rails, JavaScript, JQuery, AJAX, JSON, MySQL, AWS S3.
	</div>

	<div class = "info_child_left_proj1" >
		<p>Designed materials, lightning.
		<p>Modeled, rendered interiors of buildings from blueprints.
	</div>

	<div class = "info_child_left_proj2" >
		<p>Designed materials, lightning.
		<p>Modeled, rendered exteriors of buildings from blueprints.
	</div>
	<div class = "info_child_left_proj3" >
		<p>Used 3dsMax and Vray to create objects that I saw on web.
		
	</div>
	<div class = "info_child_left_proj4" >
		<p>This was one of my courses at MMC.
		<p>I taught some engineers from BRT Television.
		
	</div>
	<div class = "info_child_left_proj5" >
		<p>When I saw some picture that I liked.
		<p>I tried to rebuild them in 3D to test my skill.
		<p>I built those used 3dsMax + Vray renderer.
		
	</div>
	<div class = "info_child_left_proj6" >
		<p>Half cellphone I created from my idea about "waiting".
		<p>Another was objects of my wedding project.
	</div>
	<div class = "info_child_left_proj7" >
		<p>Volunteered at Sunday Friends for some weeks.
		<p>Took children pictures when they were playing and posted to the website.
	</div>


	<div class = "info_child_mid1" >
		<img class = "examples" src="interior_1.jpg" width = "380" height = "300"></img>
		<img class = "examples" src="interior_2.jpg" width = "380" height = "300"></img>
		<img class = "examples" src="interior_3.jpg" width = "380" height = "300"></img>
		<img class = "examples" src="interior_4.jpg" width = "380" height = "300"></img>
		
		
	</div>
	<div class = "info_child_mid2" >
		<img class = "examples" src="exterior_1.jpg" width = "380" height = "300"></img>
		<img class = "examples" src="exterior_2.jpg" width = "380" height = "300"></img>
		<img class = "examples" src="exterior_3.jpg" width = "380" height = "300"></img>
		
		
	</div>
	<div class = "info_child_mid3" >
		<img class = "examples" src="obj1.jpg" width = "380" height = "300"></img>
		<img class = "examples" src="obj2.jpg" width = "380" height = "300"></img>
	</div>
	<div class = "info_child_mid4" >
		<img class = "examples" src="teach1.JPG" width = "380" height = "300"></img>
		<img class = "examples" src="teach2.JPG" width = "380" height = "300"></img>
		
		
	</div>
	<div class = "info_child_mid5" >
		<img class = "examples" src="inex1.jpg" width = "380" height = "300"></img>
		<img class = "examples" src="inex2.jpg" width = "380" height = "300"></img>
		
		
	</div>
	<div class = "info_child_mid6" >
		<img class = "examples" src="o1.jpg" width = "380" height = "300"></img>
		<img class = "examples" src="o2.jpg" width = "380" height = "300"></img>	
	</div>
	<div class = "info_child_mid7" >
		<img class = "examples" src="volunteer1.jpg" width = "800" height = "520"></img>
		
	</div>


</div>












		<!-- <div class = "tree">
			<div class = "root">
			</div>
			<div class = "vertical_root" id="1"></div>
			<div class = "dot_root" id="1">
				<div class = "horizon_root" id="1"></div>
				<div class = "dot_branch" id="1"></div>
			</div>
			<div class = "vertical_root" id="2"></div>
		</div> -->



