* {
	/**/
	color:black;
	font-family: sans-serif;
	border-width:0px;
	margin:0;
	padding:0;

}
body {
	background-image: asset_url('diagonal_small.png') !important;
	background-repeat: repeat !important;
	background-size:75px 67px !important;
	margin:0;
	padding:0;
	background: #e7e8d1;
}

a:hover{
	cursor: crosshair;
}

.body {
	min-width: 1650px;
	width: auto;
}
.footer {
	overflow: scroll;
	width:100%;
	height:100px;

	margin:0;
	padding:0;
	background: #193441;
	/*position:absolute;*/
	/*clear:left;*/
	/*float:left;*/
	left:0px;
	bottom:0px;
	/*text-align: center*/
}
.footer p {
	font-weight:lighter ;
	color:grey;
	background:rgba(0,0,0,0);
	margin:40px 0 0 40px;

}

.avatar_info {
	background:#e74c3c;
	float:left;
	left:0;
	height: 170px;
	width:350px;
	margin: 20px 20px 20px 20px;
	border-style:solid;
	border-radius: 5px;
	/*border-width: 4px;*/
	border-color:white;
}

.avatar {
	margin:20px 0 0 10px;
	float:left;
	height:100px;
	width:100px;
	border-style:solid;
	border-width: 5px;
	border-color: white;
	border-radius: 150px;
}

.info {
	float:left;
	
	/*line-height: 80%;*/
	font-size: 14px;
	margin: 20px 0px 0 10px;

}

.logo_icon:hover{
	cursor:pointer;
	opacity:0.7;
}

.logo_icon {

	
	height:17px;
	width: 17px;
	margin: 0 0 0 10px;
}
.name {
	padding-bottom: 10px;
	font-size: 16px;
	font-weight:bold ;
}
.sub_info {
	margin:0;
	padding:0;
	font-style: italic;
	height:25px;
}
.objective {
	background:rgba(0,0,0,0.5);
	background-image: asset_url("software_engineer.jpg") !important;
	background-size: 900px 170px !important;
	font-weight: bold;
	position: relative;
	text-align: center;
	margin:20px 0 0 0;
	float:left;
	height: 170px;
	font-size: 20px;
	font-style: bold;
	border-style:solid;
	border-radius: 5px;
	border-color:white;
	width: 900px;
	background:#91aa9d;
	/*border-width: 4px;*/
}
.objective p{
	color:black;
	margin-top: 30px;
	background:rgba(0,0,0,0);
}

.divider {

	overflow: scroll;
	clear:both;
	width:100%;
	height:50px;
	margin:0;
	padding:0;
	background: #193441;
	/*position:absolute;*/
	/*clear:left;*/
	/*float:left;*/
	left:0px;
	bottom:0px;

}




.summary {
	
	clear:both;
	float: left;
	width: 350px;
	margin:0 0 0 20px;
	height:1800px;
	text-align: center;
	border-style:solid;
	border-radius: 5px;
	border-color:white;
	min-height: 500px;
	/*border-width: 4px;*/
}

.summary p{
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}
.inbox {
	/*background-image: url('diagonal_small.png') !important;*/
	background-repeat: repeat !important;
	background-size:75px 67px !important;
	width:90%;
	height:94%;
	background: #9ecddc; /*#91aa9d;*/
	border-radius: 5px;
	margin: 20px auto auto auto;
	text-align: left;
	
}

.inbox p {
	background:rgba(0,0,0,0);
	font-size: 12px;
	text-transform: none;
	font-weight: normal;
	margin-left: 5px;
	font-style: italic;
}

.panel_outer {
	float:left;
	width:900px;
	height:500px;
	margin:0 0 0 20px;
	border-style:solid;
	border-radius: 5px;
	border-color:white;
	/*border-width: 4px;*/

}
.panel {
	/*float:left;*/
	/*direction: rtl;*/
	/*overflow: scroll;*/
	height: auto;
	width:1200px; /*need to change this */
}
.tree {
	margin-left: 50px;
}




.heading_block {
	position:relative;
	float:left;
	width:148px;
	height:70px;
	border-style:solid;  /*remove this to view without border   */
	/*border-width:1px;*/
	border-color:black;
}

.body_block {
	position:relative;
	float:left;
	width:148px;
	height:70px;
	border-style:solid; /*remove this to view without border   */
	/*border-width:1px;*/
	border-color:black;
}






.root {
	position:absolute;
	bottom:0;
	right:0;
	width:50px;
	height:50px;
	border-radius:25px;
	background:white;
}

.time_root {
	position:absolute;
	margin-top:15px;
	width:100px;
	height:40px;
	background: white;
	border-radius: 10px;
	text-align: center;
}
.time_root p{
	margin-top: 12px;
	font-size: 16px;
	font-weight: bold;
	background: rgba(0,0,0,0);
}

.vertical_root {
	right:0;
	position:absolute;
	margin-right: 22px;
	width:6px;
	height:70px;
	background:white;
}

.vertical_root_bottom {
	right:0;
	top:0;
	position:absolute;
	margin-right: 22px;
	width:6px;
	height:35px;
	background:white;
}

.dot_root {
	position:absolute;
	top:20px;
	right:10px;
	width:30px;
	height:30px;
	border-radius:15px;
	clear:left;
	background:white;
	margin-left: 10px;
}

.horizon_root {
	width:50px;
	height:6px;
	position: absolute;
	right:0;
	background:white;
	margin-top:33px;
}

.horizon_root_bottom {
	width:25px;
	height:6px;
	position: absolute;
	right:0;
	background:white;
	margin-top:33px;
}

.four_block {
	overflow: scroll;
	position:relative;
	margin:0;
	padding: 0;
	width:898px;
	height:70px;
	border-style:solid;  /*remove this to view without border   */
	/*border-width:1px;*/
	border-color:black;
	
}

.tags {

	margin-top:5px;
	width:80px;
	height:40px;
	background:white;
	border-radius: 5px;
	text-align: center;
	float:left;
}
.tags p{
	/*position:absolute;*/
	top:0;
	background:rgba(0,0,0,0);

}
.notice_action {
		font-weight: lighter;
	position:absolute;
	left:200px;
	bottom: 20px;
	font-size: 14px;
	text-align: center;
	color:grey;
	font-style:italic;
}
.tags_text {
	
	font-size: 14px;
	text-align: center;
	color:grey;
	font-style:italic;
}
.maxim {
	text-align: center;
	font-weight: lighter;
	font-size: 14px;
	position: absolute;
	top: 20px;
	left: 10px;
	color:grey;
	font-style: italic;
}
.maxim_author {
	text-align: center;
	font-weight: lighter;
	font-size: 14px;
	position: absolute;
	bottom: 10px;
	left: 50px;
	color:grey;
	font-style: italic;
}

.big_block {
	position:relative;
	float:left;
	width:298px;
	height:70px;
	border-style:solid;  /*remove this to view without border   */
	/*border-width:1px;*/
	border-color:black;
}

.horizon_connect {
	width:50px;
	height:6px;
	position: absolute;
	left:0;
	background:white;
	margin-top:33px;

}
.big_node_background {
	cursor: pointer;
	position:absolute;
	width:250px;
	height:50px;
	background:white;
	border-radius: 10px;
	margin-top: 10px;
	right:0;
	
}

[class^="button_main_left"]{
	position:inherit;
	width:100px;
	height:40px;
	margin:5px auto 5px 5px;
	
	border-radius:5px;
	text-align: center;
}

.button_main_left_work {
	background:#3498db;
}

.button_main_left_study {		
	background:#00a388;   
}


[class^="button"]:hover{
	cursor: pointer !important;
	opacity: 0.8;
}
[class^="button"] p{
	background: rgba(0,0,0,0);
	font-size: 16px;
	margin-top: 12px;

}


[class^="button_main_right"] {

	float:left;
	clear:left;
	position:inherit;
	width:135px;
	height:40px;
	margin:5px auto 5px 110px;
	background:#e74c3c;
	border-radius:5px;
	text-align: center;
}

.button_main_right_school {
	background:#ffb03b;
}

.button_main_right_self {
	background:#a864a8;
}

#company {
	float:left;
	position:inherit;
	width:135px;
	height:40px;
	background:#e74c3c;
	border-radius:5px;
	text-align: center;
}

#project {
	float:left;
	
	position:inherit;
	width:90px;
	height:40px;
	background:#91aa9d;
	border-radius:5px;
	text-align: center;
}

#link {
	float:left;
	position:inherit;
	width:90px;
	height:40px;
	background:#cccc9f;
	border-radius:5px;
	text-align: center;
}
#code {
	float:left;
	position:inherit;
	width:90px;
	height:40px;
	background:#ff8698;
	border-radius:5px;
	text-align: center;



}
#self {
	float:left;
	position: inherit;
	width:135px;
	height:40px;
	background:#a864a8;
	border-radius:5px;
	text-align: center;
}




#school {
	position: inherit;
	float:left;
	width:135px;
	height:40px;
	background:#ffb03b;
	border-radius:5px;
	text-align: center;
}

/*.right_node p{
	background: rgba(0,0,0,0);
	font-size: 16px;
	margin-top: 12px;
}*/



.horizon_branch {
	width:148px;
	height:6px;
	position: absolute;
	right:0;
	background:white;
	margin-top:33px;
}

.horizon_branch#mid {
	width:130px;
	height:6px;
	position: absolute;
	right:0;
	background:white;
	margin-top:33px;
}

.dot_branch {
	width:30px;
	height:30px;
	position:relative;
	left: 200px;
	border-radius:15px;
	clear:left;
	float:left;
	background:blue;
	
}

.dot_child {
	position:absolute;
	top:20px;
	left:0;
	width:30px;
	height:30px;
	border-radius:15px;
	clear:left;
	background:white;
	margin-left: 10px;
}

.horizon_branch_child {
	width:130px;
	height:6px;
	position:absolute;
	right:0;
	background:white;
	margin-top:33px;
}

.vertical_child {
	left:0;
	position:absolute;
	margin-left: 20px;
	width:6px;
	height:70px;
	background:white;
}

.vertical_child#mid {
	left:0;
	position:absolute;
	margin-left: 22px;
	width:6px;
	height:70px;
	background:white;
}



.vertical_child_top {
	bottom:0;
	position:absolute;
	margin-left: 22px;
	width:6px;
	height:35px;
	background:white;
}
.vertical_child_bottom {
	top:0;
	position:absolute;
	margin-left: 22px;
	width:6px;
	height:35px;
	background:white;
}
.child_node {
	position:absolute;
	width:290px;
	height:50px;
	background:white;
	border-radius: 10px;
	margin-top: 10px;
	left:0;
}

.node_child_left {
	position:absolute;
	left:0;
	width:90px;
	height:40px;
	margin:5px auto 5px 5px;
	background:#9ecddc;
	border-radius:5px;
	text-align: center;
}

#volunteer {
	float: left;
	position:inherit;
	width:90px;
	height:40px;
	background:#bedb39;
	border-radius:5px;
	text-align: center;
}

.button_main_left_work {
	left:0;
	width:100px;
	height:40px;
	margin:5px auto 5px 5px;
	background:#3498db;
	border-radius:5px;
	text-align: center;
}

.node_child_left:hover {
	cursor:pointer;
	opacity:0.7;
}

.node_child_left p{
	background:rgba(0,0,0,0);
	font-size: 16px;
	margin-top: 12px;
}

.node_child_mid {
	position:absolute;
	width:90px;
	height:40px;
	margin:5px auto 5px 100px;
	background:#cccc9f;
	border-radius:5px;
	text-align: center;
}
.node_child_mid:hover{
	cursor:pointer;
	opacity:0.7;
}
.node_child_mid p{
	background:rgba(0,0,0,0);
	font-size: 16px;
	margin-top: 12px;
}
.node_child_right {
	position:absolute;
	width:90px;
	height:40px;
	margin:5px auto 5px 195px;
	background:#ff8698;
	border-radius:5px;
	text-align: center;
}
.node_child_right:hover{
	cursor:pointer;
	opacity:0.7;
}
.node_child_right p{
	background:rgba(0,0,0,0);
	font-size: 16px;
	margin-top: 12px;
}


.ui-dialog {

	background: #e3e4c2 !important;
	padding:0 !important;
	margin:0 !important;
	/*background-image: url('diagonal_small.png') !important;
	background-repeat: repeat !important;
	background-size:75px 67px !important;*/
	border-color:white !important;
	border-width:5px !important;
	border-radius: 10px !important;
	min-width:100px;
	max-width:800px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5) ;
	display: inline-block;
	

}

.ui-dialog-titlebar{
	display:none !important;
}
.ui-widget {
   /* font-weight: lighter;*/
    font-size: 14px !important;
    padding: 5px 0px 5px 5px !important;
}

.information_fill {
	display: none;
}

.tree{
	position:absolute;
	left:385px;
	top:131px;
	background-image: asset_url('green_tree.png');
	background-size:150px 150px;
	width:150px;
	height:150px;
}

[class^="info_"] {
	max-width:800px !important;
	min-width:100px !important;
	min-height: 20px  !important;
	
}
[class^="info_"] th, td {
	font-size: 14px !important;
	padding: 2px auto 2px auto !important;
	margin-top: 2px auto 2px auto !important;
	
}

[class^="info_"] th {


	text-align: center;
	width: 70px;
	
}







.summary_table {
	border-style:solid;
	border-collapse: collapse;
	border-width: 0 0 1px 0;
	border-color:grey;
}

.summary_table th, td{
	font-size: 12px;
	padding:5px 5px 5px 5px;
	
}

.summary_table th {
	text-align: center;
	width: 70px;
}

.summary_table p {

	padding-top: 2px;
	margin-top: 2px;
}


table td {
	font-style: italic;
}



/*.info_main_left_work1 {

	min-width:600px !important;
	min-height: 100px  !important;
	background-size: cover !important;
	background-image: url('customer_service.jpg') !important;
	
}

.info_main_right_company1 {
	min-width:600px !important;
	max-width:800px !important;
	min-height: 120px  !important;
	background-size: cover	 !important;
	background-image: url('htv.jpg') !important;
}
.info_main_left_work2 {

	min-width:600px !important;
	max-width: 800px !important;
	min-height: 100px  !important;
	background-size: cover !important;
	background-image: url('customer_service.jpg') !important;
	
}
.info_main_right_company2 {
	min-width:600px !important;
	max-width:800px !important;
	min-height: 120px  !important;
	background-size: cover	 !important;
	background-image: url('htv.jpg') !important;
}
*/